---
layout: page
permalink: /categories/
title: Categories
hidden: true
---

{% for category in site.categories %}
{% capture category_name %}{{ category | first }}{% endcapture %}
<div id="#{{ category_name | slugize }}"></div>
<details open class="categories">
    <summary><span class="category-name">{{ category_name }}</span></summary>
    <ul>
        {% for post in site.categories[category_name] %}
        <li><a href="{{ post.url | relative_url }}">{{post.title}}</a> &middot; <small class="text-muted">{{ post.date | date: "%B %-d, %Y" }}</small></li>
        {% endfor %}
    </ul>
</details>
{% endfor %}
