---
layout: default
title: Home
---

<div class="posts px-2 mt-4">
  {% for post in paginator.posts %}
  <div class="post py-2">
    <h3 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h3>
    <p class="post-meta">
      <time datetime="{{ post.date }}" itemprop="datePublished">{{ post.date | date_to_string }}</time>
      {% for category in post.categories %}
          {% assign categorylink = 'categories/' | append:category %}
          <a class="category-link" href="{{ categorylink | relative_url }}"> <i class="fa fa-tag"></i> {{ category }}</a>
        {% endfor %}
    </p>
    <p class="post-description">{{ post.description }} <a href="{{ post.url | relative_url }}">Read more</a></p>
  </div>
  {% endfor %}
</div>