html, body {
    font-family: "IBM Plex Sans", Helvetica, sans-serif !important;
    font-weight: 300 !important;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

:not(pre) > code.language-plaintext {
    background-color: rgba(215, 215, 215, 0.5);
    color: #000;
    font-family: monospace;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 6px;
    font-size: inherit;
}

.post {
    font-size: 17px;
}

img {
    max-width: 100%;
}

.archive-item {
    margin-left: 1rem;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.7rem !important;
}

.post-title, .page-title {
    margin-bottom: 7.5px;
    line-height: 1;
    color: #007bff;
}

.post-meta {
    padding-top: 0.25rem;
    border-top: 1.2px solid lightgray;
    color: #5c5c5c;
    font-size: 15px;
}

.post-meta .category-link {
    margin-left: 0.25rem;
    margin-right: 0.5rem;
    float: right;
}

.social-nav {
    flex-direction: row !important;
}

.navbar-item .nav-link {
    font-size: 1.2rem;
    font-weight: normal;
    transition: color 0.5s ease-out;
}

.nav-link:hover {
    color: #fff !important;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #87b7fc;
    margin: 1.5em 10px !important;
    padding: 0.5em 10px !important;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #87b7fc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

.header-nav {
    display: inline-block;
}

.header-nav ul {
    display: inline-block;
    list-style: none;
    text-align: right;
}

/* Table of contents */
.section-nav {
    background-color: transparent;
    margin: 5px 0;
    list-style: decimal;
}

.table-of-contents summary {
    font-weight: normal;
    outline: none;
}

.table-of-contents ul {
    list-style: decimal;
}

.table-of-contents li {
    margin-top: 0.25rem;
}

table {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    font-size: 0.85rem;
}

.table-of-contents {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid lightblue;
    padding: 0.5rem;
    border-radius: 5px
}

figure.highlight {
    padding: 1.5rem 1rem;
    position: relative;
    background: #111;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0,0,0,.5);
}

figure.highlight .code-pil {
    position: absolute;
    top: -.7rem;
    background: #111;
    padding: 0 10px;
    color: #66bb6a;
    border-radius: 10px;
}

figure.highlight pre {
    margin-bottom: 0;
    margin-top: .5rem;
    overflow: auto; 
    white-space: pre; 
    word-break: normal; 
    word-wrap: normal
}

figure.highlight code {
    border: none;
    word-break: normal;
    color: #eee;
}

td.red-cell-highlight { 
    background-color: #fea59d; 
}

.text-bold { 
    font-weight: bold; 
}

p.centered-image { 
    text-align: center; 
}

p.centered-image img { 
    display: inline-block; 
}

p.centered-image small { 
    color: #6c757d; 
}

.text-left-align { 
    text-align: left; 
}

.text-right-align { 
    text-align: right; 
}

.post-description {

}

div.table { 
    overflow-x: auto; 
}

.categories {
    border-top: 1px solid lightgray;
    font-weight: normal;
    font-size: 1.1rem;
    margin-top: 1.2rem;
    padding: 0.5rem;
}

.categories summary {
    outline: none;
}

.categories .category-name {
    font-size: 1.2rem;
    text-decoration: underline;
}

.categories ul {
    list-style: decimal;
}